.form-container{
    margin: 0 50px;
    background-color: rgb(87, 87, 87);
    padding: 10px;
    margin: auto;
    width: 70%;
    border: 2px solid black;
    box-shadow: 5px 5px 3px black;
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color:white
}
.centeer{
    text-align: center;
}
.btnadd input[type="submit"]{
    cursor: pointer;
    padding: 9px;
    font-size: 1.2rem;
    background-color: black;
    color: white;
    border-radius: 10px;
    border:2px solid white;
    font-weight: bold;
}
.form-container div{
    height: 50px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    padding: 20px;
}
label{
    font-size: 1.3rem;
    padding: 5px;
}

input{
    padding: 3px 7px;
    border:2px solid black;
    font-size: 1rem;
    border-radius: 7px;
}

@media screen and (max-width:850px) {
    .form-container{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width:450px) {
    .form-container{
        width: 100%;
    }
    
}